/* A CSS Module is a CSS file in which all class names and animation names are scoped locally by default */

.Doctor {
    display: flex;
    justify-content: space-around;
    background-color: rgb(43, 115, 223);
    color: white;
}

.doctorImg {
    max-height: 70vh;
}

.badge {
    padding: 5px 10px;
    margin: 0;
}

.badgeSecondary {
    background-color: grey;
}

.btn {
    display: inline-block;
    color: white;
    padding: 10px;
    margin: 50px;
    border-radius: 20px;
    background-color: rgb(43, 115, 223);
}

.btn:hover {
    text-decoration: none;
    background-color: rgb(223, 151, 43);
    color: black;
}

@media (max-width: 600px) {
    .Doctor {
        flex-direction: column;
    }
}